# Discord OAuth2 Configuration
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_CLIENT_SECRET=your_discord_client_secret_here
AUTH_DOMAIN=auth.example.com
DISCORD_GUILD_ID=your_discord_server_id_here
ROLE_ID=your_verified_role_id_here

# Main domain configuration (without https/http)
MAIN_DOMAIN=example.com

# Callback path on main domain
CALLBACK_PATH=/callback

# Error URL - URL where to redirect users on authentication errors (include ?msg= (or what you want) parameter with = sign)
ERROR_URL=https://dc-auth-err.pages.dev?msg=